<!DOCTYPE html>

<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>맛집 WISH LIST</title>
    <!-- jQuery(js) -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- bootstrap(css) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <!-- bootsrap(js) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- 개발버전, 도움되는 콘솔 경고 라이브러리 용도로 사용 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <br>
    <div class="container">
        <!-- Search 부분영역 -->
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <input id="searchBox" type="text" class="form-control form-control-lg" style="height: 46px;" placeholder="맛집을 검색해주세요 ex.(판교 갈비집)" value="아구찜"/>
            </div>
            <div class="col-sm-6 col-md-4">
                <button id="searchButton" type="button" class="btn btn-primary btn-lg" style="width: 100%">검색</button>
            </div>
        </div>

        <br>
        <!-- Search Result -->
        <div class="row" id="search-result" style="visibility:hidden;">
            <div class="col-sm-6 col-md-8">
                <img id="wish-image" v-bind:src="search_result.imageLink" class="img-thumbnail" alt="" style="min-width: 100%; min-height:100%;"/>
            </div>
            <div class="col-sm-6 col-md-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="wish-title">{{ search_result.title }}</li>
                    <li class="list-group-item" id="wish-category">{{ search_result.category }}</li>
                    <li class="list-group-item" id="wish-address1">{{ search_result.address }}</li>
                    <li class="list-group-item" id="wish-road-address1">{{ search_result.roadAddress }}</li>
                    <li class="list-group-item">
                        <a id="wish-homepage-link" target="_blank" v-if="search_result.homepageLink" v-bind:href="search_result.homepageLink">
                            홈페이지
                        </a>
                        <div v-if="!search_result.homepageLink">홈페이지</div>
                    </li>
                </ul>
<!--                <br><br><br>-->
                <button id="wishButton" type="button" class="btn btn-primary btn-lg" style="width: 92.5%; position: absolute; bottom:0;">위시리스트 추가</button>
            </div>
        </div>

        <!-- 나의 맛집 리스트 -->
        <br><br><br>
        <div class="row">
            <div class="alert alert-primary col-sm-12 col-md-12" role="alert" style="text-align:center;">
                나의 맛집 리스트
            </div>
        </div>

        <br>

        <div id="wish-list">
            <div v-for="wish in wish_list">
                <div class="row">
                    <div class="col-sm-6 col-md-8">
                        <img v-bind:src="wish.imageLink" class="img-thumbnail" alt="" style="min-width: 100%; min-height:100%;"/>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">장소 : {{ wish.title }} </li>
                            <li class="list-group-item">Category : {{ wish.category }} </li>
                            <li class="list-group-item">주소 : {{ wish.address }}</li>
                            <li class="list-group-item">도로명 : {{ wish.roadAddress }} </li>
                            <li class="list-group-item">방명여부 : {{ wish.visit }}</li>
                            <li class="list-group-item">마지막 방문일자 : {{ wish.lastVisitDate }} </li>
                            <li class="list-group-item">방문횟수 : {{ wish.visitCount }}  </li>
                            <li class="list-group-item">
                                <a target="_blank" v-if="wish.homepageLink" v-bind:href="wish.homepageLink">홈페이지</a>
                                <div v-if="!wish.homepageLink">홈페이지</div>
                            </li>
                            <li class="list-group-item">
                                <button v-on:click="addVisit(wish.index);" type="button" class="btn btn-primary btn-lg" style="width: 100%">방문 추가</button>
                                <br><br>
                                <button v-on:click="deleteWish(wish.index);" type="button" class="btn btn-primary btn-lg" style="width: 100%">위시리스트 삭제</button>
                            </li>
                            <li class="list-group-item"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/main.js"></script>
</html>